* {
	box-sizing: border-box;
}
html {
	/*display: flex;*/
	/*flex-direction: column;*/
}
body {
  	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}


/*===================*/
/*      HEADER       */
/*===================*/
.header {
	display: flex;
	background: #edeeef;
	justify-content: center;

}

	
.logo {
	margin: 0.5em;
	align-self: baseline;
	height: 9em;
	width: 14em;
	border-radius: 50%;
	
}
.title {
	font-family: 'Bad Script', cursive;
	margin-left: 0.5em;
	margin-top: 1.3em;

}

.table {
	flex-wrap: wrap;
}
/*===============*/
/*     HEADER    */
/*===============*/
.personList {
	background: #636363;
	color: #ffffff;
	padding: 0.5em;
	display: inline-block;
	width: 100%;
	font-size: 1.2em;
	min-height: 4em;
}
.list_person {
	margin-top: 0.2em;

}
.btnPersonList {
	margin-top: 0.7em;
}
.room {
	margin-top: 2em;
}


/*===================*/
/*        MAIN       */
/*===================*/

/*       menu        */
/*********************/
.topnav {
  overflow: hidden;
  background-color: #333;
  position: static;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #8bbbd6;
  color: #fff;
}

.topnav .icon {
  display: none;
}

/*     sidebar      */
/********************/
.wrapper {
	
    /* occupe la hauteur restante */
    flex: 1 1 auto;

    /* crée un contexte flex pour ses enfants */
    display: flex;
}
nav {
	display: flex;
	flex-direction: column;
	background: #bcd1e5;
	order: -1;
	width: 12em;
	/*flex-basis: auto;*/
	flex-direction: column;
}
nav p {
	font-size: 1.4em;
	font-weight: bold;
}
.sidebar {
	/* view in first */
	order: -1;
	text-align: center;
}



/*===============*/
/*  room_list  */
/*===============*/
.btn-view {
	min-width: 5em;
	min-height: 2em;
}
.cell {
	background-color: #EFEFEF; 
	
}
.space {
	margin: 10em;
	background: #ffffff;
}
.table tr {
	border-top: 1rem solid #ffffff;
}
/*===============*/
/*  focus_room  */
/*===============*/
.img_focus {
	margin-top: 1em;
}
.name {
	font-size: 2em;
}	
.name p {
	margin: auto;
}
.name::after{
	content: ' ';
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center; 
	border: 1px solid #aaa;
	width: 80px;
}
/*===============*/
/*  focus_room  */
/*===============*/
.form_reservation {
	margin: 3em;
}
.focus {
	font-weight: bold;
}

/*===================*/
/*      FOOTER       */
/*===================*/
footer {
  bottom: 0px;
  border-top: 1px solid #000;
  text-align: center;
  width: 100%;
  font-size: 90%;

}

.topNav {
  overflow: hidden;
  background-color: #333;
 
}

.topNav a  {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 1.2em;
}
.topNav p {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  padding: 5px 6px;
}

.topNav a:hover {
  color: #8bbbd6;
}

.activeFooter {
  color: #8bbbd6;
}

.Copyright a {
	font-size: 0.8em;
}

/*===================*/
/*   MEDIA QUERIES   */
/*===================*/
/* responsive menu  */
@media screen and (max-width: 700px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topNav a:not(:first-child) {display: none;}
  .topNav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    display: inline-block;
    display: block;
    text-align: left;
  }

  .topNav.responsive {position: relative;}
  .topNav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topNav.responsive  {
    display: inline-block;
    display: block;
    text-align: left;
  }
  .topNav p {
		font-size: 70%;
  }
}
/* nav */
@media screen and (max-width: 700px){
	.wrapper{
		flex-direction: column;
	}
	nav {
		width: auto;
	}
	nav,
	article {
		flex-basis: auto;
		justify-content: center;
	}
	nav {
		order: 0;
	}
	
  
}



@media screen and (max-width: 320px) {
  .Logo,
  .Title {
  	flex-basis: auto;
  	justify-content: center;
  	/*flex-direction: column;*/
  }
	.card {
		flex-direction: column;
	}

}
